h1{
  display: flex;
  color: #2789b3;
  margin-left: 300px;
  margin-right: 300px;
  justify-content: center;
  flex-flow: row;
  font-size: 40px;
  font-family: 'Inconsolata', monospace;
  background-color: white

.top {
  border: 3px black solid;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 1.25in;
  font-size: 50px;
  margin-bottom: 0;
  background-color: #2789B3;
  color: white;
}
    
}
.picture{
  width: 310px;
  height: 200px;
  object-fit: cover;
}
#first{
  margin-left: 80px;
}
#second{
display: inline-block;
}
input{
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h2{
  display: flex;
  color: #2789b3;
  justify-content: center;
  font-family: 'Inconsolata', monospace;

}
div{

  display: flex wrap;
  color: #2789b3;
  margin-left: 470px;
  justify-content: flex-start;
  font-family: 'Inconsolata', monospace;


}
